<h1>Customers</h1>

<p *ngIf="isLoading"><em>Loading...</em></p>

<div><button class="btn btn-sm" [routerLink]="['/customers/0']">New</button></div>
<div *ngIf="data?.items">

    <table class='table table-striped table-hover table-condensed x-table-smaller-text'>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of data.items">
                <td>{{ customer.id }}</td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td><a [routerLink]="['/customers', customer.id]">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <div>
        <div class="row">
            <pagination [boundaryLinks]="true" [totalItems]="data.totalItems" [(ngModel)]="currentPage" [maxSize]="5" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (numPages)="totalPages = $event" (pageChanged)="pageChanged($event)"></pagination>
        </div>
        <div class="row">Page: {{currentPage}} / {{totalPages}}</div>
    </div>

</div>