<form [formGroup]="mainForm" (ngSubmit)="login()" class="form-horizontal" novalidate>

    <div>
        <div *ngIf="isLoading">
            Loading...
        </div>

        <div *ngIf="model" [hidden]="submitted" style="margin: 20px;" class="pull-left">

            <div class="alert alert-info" role="alert">
                Enter any username and password of 3 characters or more
            </div>

            <div class="form-group form-group-sm row" [ngClass]="{'has-error': mainForm.get('username').invalid}">
                <label for="username" class="col-md-4 control-label">User Name:</label>
                <div class="col-md-8">
                    <input class="form-control" formControlName="username" />
                </div>
            </div>

            <div class="form-group form-group-sm row" [ngClass]="{'has-error': mainForm.get('password').invalid}">
                <label for="password" class="col-md-4 control-label">Password:</label>
                <div class="col-md-8">
                    <input class="form-control" formControlName="password" />
                </div>
            </div>

            <div class="row col-lg-offset-4">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </div>
    </div>
</form>
